input {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  color: #ce160e;
  caret-color: black;
  background-color: #b9bbbe;
  border: 0;
  border-left: 2px solid #2f3136;
  border-radius: 0 15px 15px 0;
  box-sizing: border-box;
}